* {
  list-style-type: none;
}
.App {
  text-align: center;
  background-color: #ebebeb;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.home {
  padding: 20px;
  background-image: url("/images/71jk2TsQG4L._AC_SL1468_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.recipe {
  background-color: #ebebeb;
  height: 100vh;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ebebeb;
  height: 100vh;
}
